body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 8px;
}

h1 {
    color: white;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    background-color: steelblue;
    line-height: 1.1;
    padding: 1.2rem 0;
    margin: 0;
}

#colorDisplay {
    font-size: 200%;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.selected {
    background-color: blue;
}