<!--import a style file for this view-->
<link rel="stylesheet" href="app.css">

<h1>The Posts Page</h1>

<!--using for loop-->
<% for( let i = 0; i < posts.length; i += 1 ) { %>
    <li>
        <%= posts[i].title %> - <strong><%= posts[i].author %></strong>
    </li>
<% } %>
<br>
<!--using map-->
<% posts.map((post) => { %>
    <li>
        <%= post.title %> - <strong><%= post.author %></strong>
    </li>
<% }); %>