<%- include("partials/header") %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Sign Up</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add A New Campground!</a></p>
        </div>
    </header>

    <div class="row d-flex flex-wrap">
        <% campgrounds.map(campground => { %>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card img-thumbnail">
                    <img src="<%= campground.image %>" alt="campground" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center"><%= campground.name %></h5>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include("partials/footer") %>